@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Universal styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/* Header section styles */

header {
  background: rgba(229, 84, 115, 0.1);
  padding: 0 200px;
  padding-top: 50px;
}

/* banner section styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-left {
  text-align: start;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 30px;
  max-width: 700px;
}

.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
  max-width: 630px;
}

.btn-primary button {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.banner-right img {
  width: 630px;
}

/* Featured section styles */

.featured {
  margin: 150px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.featured-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 590px;
}

.featured-flowers-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  margin-top: 20px;
}

.featured-flowers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-caption {
  color: #272727;
  margin-top: 30px;
  text-decoration: underline;
  font-size: 17px;
  font-weight: 700;
}

.feature-cards-first {
  border-radius: 200px 200px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.feature-cards-second {
  text-align: center;
  border-radius: 200px 200px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.feature-cards-third {
  border-radius: 200px 200px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.featured-flowers img {
  padding: 0 60px;
  padding-top: 80px;
  width: 310px;
  height: 470px;
}

/* Hot deal section */

.deal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(229, 84, 115, 0.05);
  padding: 80px 400px;
  gap: 100px;
}

.deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.deal-title span {
  color: #e55473;
}

.deal-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.deal-left-part {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

/* Instagram section styles */

.instagram {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insta-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.insta-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  max-width: 590px;
}

.insta-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 240px;
  gap: 24px;
}

/* extra section styles */

.review-container {
  margin: 120px 200px;
}

.review-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.review-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.review-title span {
  color: rgb(69, 160, 69);
}

.review-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

.review-card {
  padding: 30px;
}

.review-card-row {
  display: flex;
}
.review-card-second-row {
  display: flex;
  flex-direction: row-reverse;
}

.review-card fieldset {
  border: none;
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 30px;
  max-width: 280px;
  max-height: 350px;
}

.card-intro {
  color: #272727;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-bottom: 20px;
}

.card-text {
  color: rgba(0, 0, 0, 0.761);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 15px;
}

.card-review {
  color: goldenrod;
  text-align: center;
}

/* extra section styles ends */

/* Subscription section styles */

.subscription-container {
  margin: 120px 200px;
  padding: 120px 260px;
  background-image: url("../images/Rectangle-9.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.subs-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 16px;
}

.subs-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 45px;
}

.subs-bottom {
  text-align: center;
}

form input[type="email"] {
  width: 600px;
  height: 55px;
  border-radius: 8px;
  background: #fff;
  padding-left: 20px;
  border: none;
}

form input[type="submit"] {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background: #e55473;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  margin-left: 15px;
  font-family: "Lato", sans-serif;
}

/* Footer section styles */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #111010;
  padding: 120px 0;
}

.footer-title {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 24px;
}

.footer-title span {
  color: #fff;
}

.footer-text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
  max-width: 620px;
}

footer small {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
