@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Universal styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

/* Header section styles */

header {
  background: rgba(229, 84, 115, 0.1);
  padding: 0 200px;
  padding-top: 50px;
}

/* banner section styles */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-left {
  text-align: start;
}

.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  padding-bottom: 30px;
  max-width: 700px;
}

.banner-desc {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
  max-width: 630px;
}

.btn-primary button {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.banner-right img {
  width: 630px;
}

/* Featured section styles */

.featured {
  margin: 150px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.featured-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.featured-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  max-width: 590px;
}

.featured-flowers-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  margin-top: 20px;
}

.featured-flowers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-caption {
  color: #272727;
  margin-top: 30px;
  text-decoration: underline;
  font-size: 17px;
  font-weight: 700;
}

.feature-cards-first {
  border-radius: 200px 200px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.feature-cards-second {
  text-align: center;
  border-radius: 200px 200px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.feature-cards-third {
  border-radius: 200px 200px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}

.featured-flowers img {
  padding: 0 60px;
  padding-top: 80px;
  width: 310px;
  height: 470px;
}

/* Hot deal section */

.deal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(229, 84, 115, 0.05);
  padding: 80px 400px;
  gap: 100px;
}

.deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}

.deal-title span {
  color: #e55473;
}

.deal-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.deal-left-part {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}

/* Instagram section styles */

.instagram {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insta-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.insta-text {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  max-width: 590px;
}

.insta-card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 240px;
  gap: 24px;
}

/* extra section styles */

/* extra section styles */
